.SubscribeOption {
    display: flex;
    margin: 25px 20px 40px;
    opacity: 0.9;

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
        opacity: 1;
    }

    &:hover p {
        color: rgb(209, 209, 209);
    }

    p {
        display: flex;
        flex-direction: column;
        margin-right: 40px;
    }
    button {
        margin-left: auto;
        padding: 10px 40px;
        border: none;
        color: whitesmoke;
        font-weight: bold;
        font-size: 1rem;
        border-radius: 50px;

        &:hover {
            background-color: rgb(216, 0, 0) !important;
        }
    }
    button[name="current"] {
        &:hover {
            background-color: gray !important;
        }
    }
}

@media screen and (max-width: 768px) {
    .profileScreen__option {
        margin-bottom: 30px;

        button {
            padding: 10px 10px;
        }
    }
}

@media screen and (orientation: portrait) and (max-width: 500px) {
    .SubscribeOption {
        margin: 25px 20px 40px;

        p {
            margin-right: 20px;
            font-size: 0.8rem;
        }
        button {
            margin-left: auto;
            padding: 10px 10px;
            font-size: 0.8rem;
        }
        button[name="current"] {
            &:hover {
                background-color: gray !important;
            }
        }
    }
}
