.loginScreen {
    position: relative;
    height: 100%;
    background: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/best-christian-movies-netflix-round-up-1614305697.jpg")
        center no-repeat;
    background-size: cover;
    &__background {
        .loginScreen__logo {
            position: fixed;
            top: -14px;
            left: 0;
            width: 200px;
            object-fit: contain;
            padding-left: 20px;
            box-sizing: content-box;
            cursor: pointer;
            transition: all 0.4s ease-in-out;

            &:hover {
                transform: scale(1.05);
            }
        }

        .loginScreen__button {
            position: fixed;
            right: 20px;
            top: 20px;
            padding: 10px 20px;
            color: #fff;
            font-size: 1rem;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            background: linear-gradient(135deg, #21bac2e7, 60%, #2548d8e7);

            &::after {
                content: "Sign In";
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient(135deg, #2548d8e7, 60%, #21bac2e7);
                border-radius: 3px;
                transition: all 0.25s linear;
            }

            &:hover::after {
                opacity: 1;
                box-shadow: 0px 1px 6px -1px rgb(83, 83, 83);
                transform: scale(1.02);
            }
        }
        .loginScreen__gradient {
            width: 100%;
            z-index: 1;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.4);
            background-image: linear-gradient(
                to top,
                rgba(0, 0, 0, 0.8) 0,
                rgba(0, 0, 0, 0) 60%,
                rgba(0, 0, 0, 0.8) 100%
            );
        }
    }

    &__body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        width: 60%;
        min-width: 300px;
        max-width: 700px;
        box-sizing: content-box;
        z-index: 1;
        border-radius: 5px;
    }
}
@media screen and (max-width: 850px) {
    .loginScreen {
        &__body {
            top: calc(50% + 30px);
        }
    }
}
@media screen and (max-width: 660px) {
    .loginScreen {
        &__background {
            .loginScreen__button {
                font-size: 0.9rem;
            }
        }
        &__body {
            width: 90%;
            min-width: 250px;
        }
    }
}

@media screen and (max-width: 360px) {
    .loginScreen {
        &__background {
            .loginScreen__button {
                display: none;
            }
        }
        &__body {
            width: 90%;
        }
    }
}
