.errorScreen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(17, 17, 17, 0.7);
    background-color: #111;

    .errorScreen__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        padding: 40px 30px;
        p {
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 4px;
            border: 2px solid rgb(63, 63, 63);
            font-size: 18px;
            padding: 40px 30px;
            max-width: 400px;
            max-height: 300px;
            text-align: center;
            color: rgba(197, 11, 11, 0.823);
            font-weight: 600;
        }

        button {
            position: relative;
            padding: 20px 30px;
            margin: 50px 10px 00px;
            color: rgba(245, 245, 245, 0.864);
            font-size: 20px;
            border-radius: 50px;
            border: 2px solid rgb(63, 63, 63);
            background-color: rgba(0, 0, 0, 0.4);
            cursor: pointer;
            transition: background-color 0.2s linear;

            &:active {
                border-color: rgb(151, 151, 151);
                transform: scale(0.95);
            }

            &:hover{
                background-color: #111;
            }
        }
    }
}
