.profileScreen {
    min-height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding-top: 100px;
    padding-bottom: 20px;

    &__body {
        width: 80%;
        margin: 0 auto;
        max-width: 800px;

        h1 {
            font-size: 50px;
            font-weight: 400;
            border-bottom: 1px solid #282c2d;
            margin-bottom: 20px;
        }
        .profileScreen__info {
            display: flex;

            img {
                height: 100px;
            }
            .profileScreen__details {
                color: white;
                margin-left: 25px;
                flex: 1;

                h2 {
                    background-color: gray;
                    padding: 15px 20px;
                    font-size: 15px;
                    border-radius: 100px;
                }
            }
        }
    }
}

@media screen and (orientation: portrait) and (max-width: 660px) {
    .profileScreen {
        align-items: flex-start;
        margin-top: 120px;
        &__body {
            .profileScreen__info {
                position: relative;
                .profileScreen__details {
                    overflow: hidden;
                    h2 {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

@media screen and (orientation: landscape) and (max-width: 1440px) {
    .profileScreen {
        &__body {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding-top: 5vw;
        }
    }
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
    .profileScreen {
        &__body {
            position: static;
            padding-top: 100px;
            transform: initial;
        }
    }
}

@media screen and (orientation: landscape) and (max-width: 850px) {
    .profileScreen {
        &__body {
            // padding-top: 100px;
            h1 {
                font-size: 2rem;
            }
            .profileScreen__info {
                img {
                    height: 65px;
                }
                .profileScreen__details {
                    h2 {
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .profileScreen {
        &__body {
            width: 90%;
        }
    }
}
