.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 108px;
    z-index: 99999;

    transition: all 0.5s ease-in;

    &__content {
        display: flex;
        justify-content: space-between;
        .nav__logo {
            position: fixed;
            left: 0;
            height: 108px;
            object-fit: contain;
            margin-left: 20px;
            cursor: pointer;
            box-sizing: content-box;
        }

        .nav__avatar {
            position: fixed;
            cursor: pointer;
            right: 20px;
            top: 34px;
            height: 40px;
        }
    }
}

.nav__bgColorActive {
    background-color: #000000e7;
}
